---
name: Semantic PR
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  pull-requests: read

jobs:
  main:
    name: Validate PR Title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
